*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
}
html,body{
  width:100%;
  height:100%;
}
.App{
   width:100%;
  height:100%;

}
.tab-container{
  width:100%;
  height:100vh;
}
.tabs{
  width:100%;
  height:5rem;
  padding:2rem;
  position: absolute;
  bottom:0px;
  border: 1px solid;
  display:flex;
  justify-content: space-between;
}

.tab-item-container{
  width:25%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tab-item-container h5{
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;

}
.active{
  color:blue
}