.light{
  color:#000000;
  background-color: #FFFF;
}
.dark{
  color:#FFFF;
background-color:#000000;
}
#root{
  width:100%;
  height:100%;

}
body{
  width:100%;
  height:100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;

}
.App{
    width:100%;
  height:100vh;

}
a{
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
 
}