#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

    width:100%;
  height:100%;

}
.App{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  overflow: hidden;
}

.modal-container{
  width: 70rem;
  height:30rem;
  background-color: gray;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;

}
.modal{
  width:20rem;
  height:20rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: scale(1);
  opacity: 1;
  z-index: 10;
  position: absolute;
  top:10%;
  left:30%;
  
}

