#root{
  width:100%;
  height:100%;
}
*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

.App{
    width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:4rem;

}
.accordian{
  width:50%;
  border-radius: 0.5rem;
  border:1px solid #000;
  padding:1rem 0rem;
}
.accordian-container{
  padding:0rem 1.5rem;
}
.accordian-item{
  /* padding:1rem 1rem; */
  display: flex;
  flex-direction: column;

  margin:0.7rem 0rem;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   border-radius: 1rem;
   overflow: hidden;
 

}
.accordian-item-button{
  border:1px solid;
  padding:0.5rem 0.5rem;

  color:white;
  font-size: 1.3rem;
  border-radius: 1rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  background-color: blueviolet;
  
}

.accordian-item-description{
  padding:1.5rem 1rem;
  background-color: aliceblue;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

 

}