*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}
html,body{
  width:100%;
  height:100%;
}
.App{
    width:100%;
  height:100%;

}
.page{
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page h5{
  font-size: 3rem;
  font-weight: 500;
}
.loader{
  width:0%;
  background-color: violet;
  height:2rem;
  position: fixed;
  top:0px;
}