.personal_info_section{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal_info_container{
    width:35%;
    height:auto;
    padding:4rem;
    border: 1px solid #000;
    border-radius: 1rem;
}