.review-confirm-container{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
  
    
}
.main{
        width:40%;
    height:100%;
      padding:3rem 2rem;
    border: 1px solid #000;
    border-radius: 1rem;
    overflow-y: auto;

}
.main::-webkit-scrollbar {
    display: none;
}
