html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;

}

* {
  padding: 0px;
  margin: 0px;
  object-fit: cover;
}

#root {
  width: 100%;
  height: 100%;

}

.app {

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:2rem;

}

.dark {
  background-color: #000;
  color: white;
}

.light {
  background-color: white;
  color: black
}